/* Services.css */

/* Container for the entire service section */
h1{
    color: #2b116c;
    font-weight: bolder;
    /* font-size: xx-large; */
}
.outer{

margin-top: 8rem;
}
.services-container {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 20px;
    /* justify-content: center; */
    /* background-color: #f7f9fc; */
  }
  
  /* Card container styling */
  .card {
    background-color: #ffffff;
    
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 auto; /* Center the card */
    transition: transform 0.3s;
    border: 1px solid #ddd; /* Optional: Add a border for better definition */
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  /* Image styling */
  .card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  /* Card content styling */
  .card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  /* Card title styling */
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    /* color: #333333; */
    margin-bottom: 8px;
  }
  
  /* Card paragraph styling */
  .card-paragraph {
    font-size: 1rem;
    /* color: #666666; */
    color: #333333;
    margin-bottom: 16px;
  }
  
  /* Card button styling */
  .card-button {
    background-color: #2b116c;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s;
  }
  
  .card-button:hover {
    background-color: #0056b3;
  }
  